@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&display=swap');

* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #111;
}
li {
    list-style: none;
}
.wrap {
    font-family: "Pretendard Variable", sans-serif;
}




/* -- show & hide control componant -- */
.block {
    display: block;
}
.flex {
    display: flex;
}
.none {
    display: none;
}
.s-opacity {
    opacity: 1;
}
.n-opacity {
    opacity: 0;
}
.x-100 {
    transform: translateX(100%);
}
.x-0 {
    transform: translateX(0%);
}


/* -- btn componant --*/
.btn {
    padding: 8px 20px;
    border: 1px solid;
    background: transparent;
    font-family: "Pretendard Variable", sans-serif;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.1s linear, background 0.1s linear;
}



/* -- header -- */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.header .inner {
    position: relative;
    background: #f1f1f1;
}
.header .logo .logo-img {
    float: left;
}
.header .logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.header .pc_display .logo {
    left: 74px;
}
.header .pc_display .nav {
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 3%;
    font-weight: 700;
    font-size: clamp(16px, 2vw, 20px); /*20px*/
}
.header .pc_display .nav-item a {
    transition: color 0.1s linear;
}
.header .pc_display .nav-item:hover a {
    color: #12A1A2;
} 
.header .mob_display {
    display: none;
    align-items: center;
    height: 62px;
}
.header .mob_display .logo {
    left: 16px;
}
.header .mob_display .content {
    padding-right: 16px;
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 4px 20px;
}
.header .mob_display .free-btn {
    font-size: 14px;
    color: #f1f1f1;
    border-color: #f1f1f1;
}
.header .mob_display .free-btn:hover {
    color: #12A1A2;
    background: #f1f1f1;
    box-shadow: 1px 1px 1px #79797940;
}
.header .mob_display .menu-icon {
    width: 32px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.header .mob_display .menu-line {
    display: block;
    width: 100%;
    height: 0.22em;
    background: #f1f1f1;
    border-radius: 1.4px;
}
.header .mob_display .nav-container {
    display: none; 
    width: 100%;
    height: calc(100% - 62px);
    justify-content: right;
    position: fixed;
    top: 62px;
    right: 0;
    z-index: 1000;
    background: #00000083;
}
.header .mob_display .nav {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
    font-size: 20px;
    font-weight: 700;
    background: #f1f1f1;
    transform: translateX(100%);
    transition: all 0.2s ease-in-out;
}



/* -- main -- */
.main {
    padding-top: 96px;
}
/* -- main-visual -- */
.main .main-visual {
    width: 100%;
    height: fit-content;
}
.main .main-visual .content {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}
.main .main-visual .visual-img {
    width: 100%;
    height: 100%;
    float: left;
    object-fit: cover;
}
.main .main-visual .img-box .free-btn-box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}
.main .main-visual .img-box .free-btn {
    background: #12A1A2;
    color: #fff;
    font-size: clamp(14px, 2vw, 18px);
    border: none;
}
.main .main-visual .since-box {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
}
.main .main-visual .txt-box {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
.main .main-visual .visual-txt .kor {
    line-height: 180%;
    font-size: clamp(15px, 2vw, 22px);
    font-weight: 700;
}
.main .main-visual .visual-txt .eng {
    line-height: 120%;
    font-family: "Anek Bangla", sans-serif;
    font-size: clamp(28px, 3vw, 48px);
    font-weight: 900;
}




@media (max-width: 1025px) {
    /* -- header -- */
    .header .pc_display .nav {
        justify-content: right;
        margin-right: 74px;
    }
}
@media (max-width: 767px) {
    /* -- header -- */
    .header .inner {
        background: #12A1A2;
    }
    .header .pc_display {
        display: none;
    }
    .header .mob_display {
        display: flex;
    }

    /* -- main -- */
    .main {
        padding: 0 16px;
        padding-top: 62px;
    }

    /* -- main-visual -- */
    .main .main-visual .content {
        padding-top: 8vw;
        gap: 6vw;
    }
    .main .main-visual .img-box {
        position: relative;
        border-radius: 22px;
        overflow: hidden;
    }
    .main .main-visual .img-box .free-btn-box {
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .main .main-visual .since-box {
        left: auto;
        right: 2%;
        transform: scale(0.7);
    }
    .main .main-visual .txt-box {
        position: static;
        transform: none;
        color: #141414;
    }
    
}